//color scheme url
//https://coolors.co/00b9ae-f1faee-a8dadc-457b9d-1d3557

$main-color: #21c6ce;
$main-font-color: #3F3F3F;
$main-background-color: #f1faee;

//Button colors
$twitter-btn-color: #1dcaff;
$linkedIn-btn-color: #4875B4;
$contact-btn-color: #ff793f;
$github-btn-color: black;

// media query breakpoints
$mobile-sm: 360px;
$mobile-md: 400px;
$mobile-lg: 480px;
$tablet-sm: 600px;
$tablet-lg: 720px;
$laptop-sm: 768px;
$laptop-md: 800px;
$laptop-lg: 960px;
$desktop-sm: 1024px;
$desktop-lg: 1280px;
