@import '../../styles/variables.scss';

.post-container {
  max-width: 60rem;
  margin: auto;
  padding: 6.25rem 0;

  .background-img {
    height: 25rem;
    width: 100%;
    margin-bottom: 3.125rem;
  }

  .section-jumbo {
    display: block;
    margin: 0 auto;
    height: 21.875rem;
    width: 37.5rem;
  }

  p {
    padding: 1.25rem 0;

    @media (max-width: $tablet-sm) {
      margin: 0 auto;
      width: 95%;
    }
  }

  h2 {
    @media (max-width: $tablet-sm) {
      text-align: center
    }
  }

  .min-author-container {
    display: flex;
    justify-content: center;

    .author-img {
      border-radius: 20%;
      width: 5%;
      margin-top: 0.5rem;
      height: 2.8125rem;
      align-self: right;

      @media (max-width: $tablet-lg) {
        width: 10%;
      }
    }

    .author-info {
      display: flex;
      justify-content: space-around;
      width: 35%;
      align-self: left;

      @media (max-width: $tablet-lg) {
        width: 50%;
        height: 2.1875rem;
      }

      @media (max-width: $tablet-sm) {
        width: 80%;
      }
    }

    @media (max-width: $tablet-sm) {
      justify-content: space-around;
    }
  }
}
