@import '../../styles/variables.scss';

.post-container {
  max-width: 60rem;
  margin: auto;
  padding: 100px 0;

  .background-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 37%;
    width: 100%;
    margin-bottom: 50px;
  }

  .section-jumbo {
    display: block;
    margin: 0 auto;
    height: 350px;
    width: 37.5rem;
  }

  p {
    padding: 20px 0;

    @media (max-width: $tablet-sm) {
      margin: 0 auto;
      width: 95%;
    }
  }

  h2 {
    @media (max-width: $tablet-sm) {
      text-align: center
    }
  }

  .min-author-container {
    display: flex;
    justify-content: center;

    .author-img {
			background-position: center;
			background-size: cover;
      border-radius: 50%;
      width: 5%;
			padding-bottom: 5%;
      margin-top: 8px;
      align-self: flex-start;

      @media (max-width: $tablet-sm) {
        width: 10%;
        padding-bottom: 10%;
      }

      @media (max-width: $tablet-sm) {
        width: 15%;
        padding-bottom: 15%;
      }
    }

    .author-info {
      display: flex;
      justify-content: space-around;
      width: 35%;
      align-self: left;

      @media (max-width: $tablet-lg) {
        width: 50%;
        height: 35px;
      }

      @media (max-width: $tablet-sm) {
        width: 80%;
      }
    }

    @media (max-width: $tablet-sm) {
      justify-content: space-around;
    }
  }
}
