@import '../../components/styles/variables.scss';

#about-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;

	.content-container {
		width: 75%;
		margin: 50px 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		.content-mult-items {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 32.50%;

			img {
				width: 30%;

				@media (max-width: $tablet-sm) {
					width: 50%;
				}
			}

			@media (max-width: $tablet-sm) {
				width: 40%;
			}
		}

		.content-item-profile {
			width: 35%;

			img {
				height: 300px;
				border-radius: 10%;
			}

			@media (max-width: $tablet-sm) {
				width: 100%;
				display: flex;
				justify-content: center;
			}
		}

		.content-item-text {
			width: 60%;
			align-self: center;

			@media (max-width: $tablet-sm) {
				width: 100%;
			}
		}

		@media (max-width: $tablet-sm) {
			width: 95%;
			flex-direction: column;
		}
	}

	.content-container-two-row-stack-responsive {
		@media (max-width: $tablet-sm) {
			flex-direction: row;
		}
	}
}
