#about-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;


	.content-container {
		width: 60%;
		margin: 50px 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		.content-mult-items {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 32.50%;

			img {
				width: 30%;
			}
		}

		.content-item-profile {
			width: 20%;

			img {
				height: 300px;
				border-radius: 10%;
			}
		}

		.content-item-text {
			width: 70%;
			align-self: center;
		}
	}
}
