@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';


.twitter-btn {
  @include social-button($twitter-btn-color);
}

.linkedin-btn {
  @include social-button($linkedIn-btn-color);
}

.facebook-btn {
  @include social-button($facebook-btn-color);
}

.github-btn, .laptop-code-btn {
  @include social-button(black);
}

.envelope-btn {
  @include social-button($warning);
}

.contact-btn {
  @include social-button($contact-btn-color);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}
