@import 'variables';

.card-container {
	margin: auto;
	max-width: 60rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.card {
	padding: 1.5%;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	width: 100%;
	margin: 3.5rem 0;

	.project-background {
		width: 100%;
		height: 25rem;
	}

	&:hover {
		box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	}

	.card-description-container {
		padding: 0 1.875rem;
		display: flex;
		flex-direction: column;
	}

	.author-container {
		display: flex;
		align-items: center;

		.author {
			border-radius: 50%;
			width: 15%;
			height: 120px;

			@media (max-width: $laptop-md) {
				height: 100px;
			}

			@media (max-width: $laptop-sm) {
				height: 90px;
			}

			@media (max-width: $tablet-sm) {
				height: 60px;
			}

			@media (max-width: $mobile-lg) {
				height: 45px;
			}

			@media (max-width: $mobile-sm) {
				height: 30px;
			}
		}

		.author-info {
			display: flex;
			width: 35%;
			justify-content: space-around;

			@media (max-width: $laptop-sm) {
				width: 50%;
			}

			@media (max-width: $tablet-sm) {
				width: 90%;
			}
		}
	}

	a {
		align-self: center;
		background-color: $main-color;
		color: white;
		padding: 15px 2rem;
		margin-bottom: 40px;
		border: 2px solid $main-color; //Neccesary for card not to expand on hover
		text-align: center;
		border-radius: 0.5rem;
		text-decoration: none;
		display: inline-block;
		font-size: 1rem;

		&:hover {
			background-color: white;
			color: $main-color;
			transition: 0.5s;
		}
	}
}
