@import '../../styles/variables.scss';

.blog-card-container {
	padding: 1.5%;
  border: 0.4rem solid $main-color-lighter;
	width: 100%;
	margin: 3.5rem 0;
	cursor: pointer;
  background-color: $main-color;
  border-radius: 2%;

	.blog-background {
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		margin-bottom: 1.45rem;
		padding-bottom: 37%;
		width: 100%;
	}

	&:hover {
    border-color: $main-color-darker;
	}

	.blog-card-description-container {
		padding: 0 1.875rem;
		display: flex;
		flex-direction: column;
	}

	.author-container {
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		margin: 0 -0.5rem;
		@media (max-width: $mobile-md) {
		  flex-direction: column;
		  text-align: center;
		  width: 100%;
		}

		.author-image,
		.author-info {
		  margin: 0.5rem;
		}

		.author-image {
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			border-radius: 20%;
			padding-bottom: 15%;
			width: 15%;
		}

		.author-info {
		  display: flex;
		 .bullet {
			margin: 0 1rem;
		  }
		  @media (max-width: $mobile-sm) {
			flex-direction: column;
			text-align: center;
			width: 100%;
		  }
		}
	}
}
