@import '../../styles/variables.scss';

.loader {
  margin: 1rem 0;
  border: 1rem solid $main-background-color-dark-lighter;
  border-top: 1rem solid $main-color;
  border-radius: 50%;
  width: 7.5rem;
  height: 7.5rem;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


